.board {
  height: calc(100vh - 100px);
  min-width: 300px;
  width: 100%;
  overflow-y: auto;
  margin: 10px 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.single-board-wrapper {
  .board-title {
    text-align: center;
    text-transform: uppercase;
  }
}
